<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/styles/inputs.css?v={{version}}">
    <link rel="stylesheet" type="text/css" href="/styles/styles.css?v={{version}}">
    <title>СЛАУ атака на персептрон</title>
</head>
<body>
    <div class="content">
        <div class="controls hidden" id="controls">
            <h2>Атака</h2>
            <div class="form-row">
                <label>Вид атаки: <select id="method" onchange="ChangeMethod()">
                    <option value="qp" selected>QP решатель</option>
                    <option value="split_matrix">СЛАУ</option>
                </select></label>

            </div>
            <div class="form-row" id="scale-block">
                <label>Доля совпадающих пикселей: <input type="range" min="0" max="1" step="0.01" value="0.5" id="scale" onchange="Attack()"></label>
            </div>

            <button onclick="Attack()">Атаковать</button>
        </div>
        <div class="error" id="error"></div>

        <div class="images">
            <div class="image-block">
                <input class="image-file-input" type="file" id="input-file" onchange="Predict('input')" accept="image/png, image/gif, image/jpeg">

                <div class="label">Входное изображение</div>
                <div class="input-image" onclick="SelectImage('input')">
                    <img class="full-size-image" id="input-image">
                    <img class="real-size-image" id="input-real-image">
                </div>
                <div class="error" id="input-error"></div>
                <div class="prediction-bar-chart hidden"><svg id="input-barchart"></svg></div>
                <div class="prediction" id="input-prediction"></div>
            </div>

            <div class="image-block">
                <input class="image-file-input" type="file" id="target-file" onchange="Predict('target')" accept="image/png, image/gif, image/jpeg">

                <div class="label">Целевое изображение</div>
                <div class="input-image" onclick="SelectImage('target')">
                    <img class="full-size-image" id="target-image">
                    <img class="real-size-image" id="target-real-image">
                </div>
                <div class="error" id="target-error"></div>
                <div class="prediction-bar-chart hidden"><svg id="target-barchart"></svg></div>
                <div class="prediction" id="target-prediction"></div>
            </div>

            <div class="image-block">
                <div class="label">Атакующее изображение</div>
                <div class="input-image">
                    <img class="full-size-image" id="attack-image">
                    <img class="real-size-image" id="attack-real-image">
                </div>
                <div class="prediction-bar-chart hidden"><svg id="attack-barchart"></svg></div>
                <div class="prediction" id="attack-prediction"></div>
            </div>
        </div>
    </div>

    <script src="/js/fetch.js?v={{version}}"></script>
    <script src="/js/bar_chart.js?v={{version}}"></script>
    <script src="/js/ui.js?v={{version}}"></script>
</body>
</html>